body {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-body {
    margin-top: 50px;
    width: 300px;
    height: 615px;
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #bebebe,
        -6px -6px 12px #ffffff;
    border: 1px solid #F9F9F9;
}

.i-camera-main {
    width: 127px;
    height: 125px;
    position: relative;
    top: 15px;
    left: 15px;
    border: 1px solid #F9F9F9;
    border-radius: 35px;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #bebebe,
        -6px -6px 12px #ffffff;
}

.cam1 {
    width: 49px;
    height: 49px;
    position: relative;
    top: 10px;
    left: 12px;
    border-radius: 50px;
    border: 1px solid #F9F9F9;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
}

.cam2 {
    width: 49px;
    height: 49px;
    position: relative;
    top: 20px;
    left: 14px;
    border-radius: 50px;
    border: 1px solid #F9F9F9;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
}

.cam3 {
    width: 49px;
    height: 49px;
    position: relative;
    top: -61px;
    left: 69px;
    border-radius: 50px;

    border: 1px solid #F9F9F9;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
}

.cam-innerr-one {
    width: 42px;
    height: 42px;
    position: relative;
    top: 4px;
    left: 4px;
    border-radius: 50px;
    box-shadow: 16px 16px 32px #cccccc,
        -16px -16px 32px #f4f4f4;
}

.cam-innerr-two {
    width: 15px;
    height: 15px;
    position: relative;
    top: 14px;
    left: 13px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 11px 11px 21px #cccccc,
        -11px -11px 21px #f4f4f4;
}

.cam-innerr-three {
    width: 7px;
    height: 7px;
    position: relative;
    top: 4px;
    left: 4px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 11px 11px 21px #cccccc,
        -11px -11px 21px #f4f4f4;
}

.flash {
    width: 15px;
    height: 15px;
    position: relative;
    top: -136px;
    left: 81px;
    border-radius: 50px;
    background: #f4f4f4;
    box-shadow: 5px 5px 10px #cccccc,
        -5px -5px 10px #f4f4f4;

}

.flash-inner {
    width: 11px;
    height: 11px;
    position: relative;
    top: -149px;
    left: 83px;
    border-radius: 50px;
    background: #DAD5AB;
    box-shadow: 5px 5px 10px #cccccc,
        -5px -5px 10px #f4f4f4;


}

.sensor {
    width: 13px;
    height: 13px;
    position: relative;
    top: -77px;
    left: 84px;
    border-radius: 50px;
    background: #afabab;
    background: linear-gradient(145deg, #d0cbcb, #afabab);
    box-shadow: 21px 21px 42px #a5a2a2,
        -21px -21px 42px #dfdbdb;

}

.sensor2 {
    width: 2px;
    height: 2px;
    position: relative;
    top: -94px;
    left: 110px;
    border-radius: 100px;
    background: #a8a4a4;
    box-shadow: 16px 16px 35px #cccccc,
        -16px -16px 35px #f4f4f4;

}

.volume-button {
    width: 3px;
    height: 80px;
    background-color: #dddddd;
    border-radius: 50px;
    position: relative;
    left: -5px;
    top: 35px;
}

.silent-button {
    width: 3px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 50px;
    position: relative;
    left: 302px;
    top: -44px;
}

.vol-up-button {
    width: 3px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 50px;
    position: relative;
    left: 302px;
    top: -12px;
}

.vol-down-button {
    width: 3px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 50px;
    position: relative;
    left: 302px;
    top: -3px;
}

.logo {
    width: 68px;
    height: 60px;
    opacity: 0.3;
    position: relative;
    top: -46px;
    left: 117px;
}